<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Project 2</title>
    <link rel="stylesheet" href="./static/css/sample.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
          <div class="nav_container">
              <ul class="nav">
                  <li class="nav_menu"><a class="link" href="/"><img src="static/img/mono-kstars-planets.svg" width="24px" height="24px" /></a></li>
                  <li class="nav_menu"><a class="link" href="#main">Main</a></li>
                  <li class="nav_menu"><a class="link" href="#chart">Chart</a></li>
                  <li class="nav_menu"><a class="link" href="#">Menu 3</a></li>
                  <li class="nav_menu"><a class="link" href="#">Menu 4</a></li>
              </ul>
          </div>
      </nav>
    </header>
    <section class="main_image" id="main">
      <div class="main_img_container">
          <img class="main_img" src="https://miro.medium.com/max/7680/1*hvGHw2fnZ3UP8X4otNl7Fw.jpeg" />
      </div>
      <div class="main_str_container">
          <span class="main_str">
              Looking for<br>habitable exoplanets...
          </span>
      </div>
    </section>
    <section class="chart">
      <div class="chart_container" id="chart">
            <!-- We append our chart here. -->
      </div>
    </section>
    <section class="for_scroll">
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <p>.</p>
    </section>
    <script>
      $(document).ready(() => {
        $(window).scroll(() => {
            if ($(window).scrollTop() <= 400){
              $('.main_img').css("opacity", 1 - $(window).scrollTop() / 400);
              $('.main_str_container').css("opacity", $(window).scrollTop() / 400);
              $('.main_str').css("opacity", $(window).scrollTop() / 400);
              $('.main_str').css("font-size", `${1+($(window).scrollTop() / 100)}em`);
            }
    
            if ($(window).scrollTop() > 400){
              $('.main_str_container').css("opacity", 1 - ($(window).scrollTop()-400) / 400);
              $('.main_str').css("opacity", 1 - ($(window).scrollTop()-400) / 400);
            }
    
            $('.main_str_container').css("height", $('.main_img_container').css("height"));
        });
      });
    </script>
  </body>
</html>
